* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgb(239, 236, 232);
  --text-color: rgb(105, 114, 114);
  --heading-color: rgb(75, 85, 85);
  --primary-color: rgb(2, 162, 146);
}

body {
  font-family: var(--font-fira);
  font-size: 16px;
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-abril);
  margin-bottom: 1rem;
  color: var(--heading-color);
}

h1 {
  font-size: 3rem;
  line-height: 3.6rem;
}

h4 {
  font-size: 2rem;
  line-height: 2.3rem;
}

a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: 700;
  border-bottom: 2px solid transparent;
  transition: border 0.3s ease;
}

a:hover:not(#logo) {
  border-bottom: 2px solid var(--primary-color);
}

p {
  margin-bottom: 1.6rem;
}

body::after {
  content: 'technoy';
  color: var(--bg-color);
  text-shadow: 0px 0 64px rgba(202, 195, 187, 0.4);
  font-family: var(--font-abril);
  font-size: 18rem;
  position: fixed;
  top: 50%;
  left: 90%;
  z-index: -1;
  transform: translateX(-48%) translateY(-50%) rotate(-90deg);
}

header,
main,
footer {
  width: 80vw;
  margin: 0 auto;
}

#logo {
  width: 100%;
  display: block;
  margin-top: 0;
  padding: 1rem 2rem;
  font-size: 1.75rem;
  font-family: var(--font-abril);
  position: relative;
}
#logo::after {
  content: '';
  display: inline-block;
  border: 2px solid var(--heading-color);
  width: 4.5%;
  position: absolute;
  top: 80%;
  left: 2rem;
}

article {
  width: 50%;
  padding: 1rem 2rem 4rem;
}

main {
  display: flex;
  flex-wrap: wrap;
  margin: 10% auto;
}

main img {
  object-fit: cover;
}

main h1 {
  width: 70%;
  margin: 2rem auto 3rem;
}

.post {
  margin-top: 3rem;
}

.post-content {
  width: 70%;
  margin: 3rem auto;
}

main.category-page h1 {
  margin: 2rem;
}

footer {
  padding: 2rem;
  text-align: center;
  font-size: 0.75rem;
}
